<div class="navbar-inner">
	<div class="left"><a href="#" class="back">Back</a></div>
	<div class="center sliding">{{title}}</div>
	<div class="right"></div>
</div>

<div class="page-content">
	<div class="picture-block" style="background-image: url({{images.fanart.thumb}});">
		<div class="item-inner">
			<div class="item-infos">
				<h2>{{title}}</h2>
				<h3>{{year}}</h3>
			</div>
		</div>
	</div>

	<div class="action-block content-block">
		<p class="buttons-row">
			<a href="#" class="button btn-check {{#if seenit}}uncheck{{/if}}"><i class="picto check"></i></a>
			<a href="#" class="button"><i class="picto add"></i></a>
			<a href="#" class="button"><i class="picto add-list"></i></a>
			<a href="movies/{{ids.slug}}/comments" class="button show-comments"><i class="picto comment"></i></a>
			<a href="#" class="button"><i class="picto star"></i></a>
			<a href="#" class="button"><i class="picto share"></i></a>
		</p>
	</div>

	<div class="content-block meta-block">
		<div class="row">
			<div class="col-50">
				<span><strong>Released</strong><i>{{release_date}}</i></span>
				<span><strong>Language</strong><i></i></span>
				<span><strong>Certification</strong><i>{{certification}}</i></span>
			</div>
			<div class="col-50">
				<span><strong>Director</strong></span>
				<span><strong>Runtime</strong></span>
				<span><strong>Genres</strong></span>
			</div>
		</div>
	</div>

	<div class="content-block-title">{{tagline}}</div>
	<div class="content-block">
		<p>{{overview}}</p>
	</div>

	<div class="content-block-title">Actors</div>
	<div class="swiper-container cast">
		<div class="swiper-wrapper">
			{{#each cast}}
				{{> actor}}
			{{/each}}
		</div>
	</div>

	<div class="content-block-title">Related</div>
	<div class="swiper-container related">
		<div class="swiper-wrapper">
			{{#each related}}
				{{> movie}}
			{{/each}}
		</div>
	</div>
</div>