<div class="card-header">
	<div class="facebook-avatar"><img src="{{user.images.avatar.full}}" width="34" height="34"></div>
	<div class="facebook-name">{{user.name}}</div>
	<div class="facebook-date">{{formatedCreatedAt}}</div>
</div>
<div class="card-content">
	<div class="card-content-inner">
		<p>{{comment}}</p>
	</div>
</div>
<div class="card-footer">
	<a href="#" class="link like {{#if liked}}liked{{/if}}">{{likeStr}}</a>
	<a href="movies/{{getMovieSlug}}/comments/{{id}}/reply" class="link">Reply</a>
</div>